.button {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: 400;
    border-radius: var(----border-radius-medium);
    border: none;
    padding: 0 1rem;
    height: 2.215rem;
    cursor: pointer;
    transition: background-color var(--duration-small)
}

.button--secondary {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    color: var(--color-text-dark);
}

.button--secondary:hover {
    background-color: var(--color-gray);
}

.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.215rem;
    padding: 0;
    border: none;
}

.button__icon {
    width: 1rem;
}